@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
--azul-escuro: #141b41ff;
--ciano-escuro: #306bacff;
--azul-claro: #6f9cebff;
--azul-clarinho: #98b9f2ff;
--roxinho: #918ef4ff;
--transicao: rgb(129, 62, 196); 
--branco: rgb(209, 209, 209);
--rosinha: #caa8f5ff;
--azul-claro: rgb(50, 37, 88);
--roxo: #592e83ff;
--roxo-escuro: #230c33ff;
--angelo: #000;
  --title: "SUSE Mono", sans-serif;
  --text: "Lato", sans-serif;
}
body {
    background-color: var(--azul-escuro);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
h1{
  color: var(--branco);
  font-family: var(--title);
  font-size: 70px;
  margin: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
p {
  color: var(--branco);
  font-family: var(--text);
  font-size: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.volta{
  font-size: 18px;
  font-family: var(--title);
  background-color: var(--ciano-escuro);
  color: var(--branco);
  border: 2px solid var(--branco);
  padding: 13px 23px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 7px;
}
.volta:hover {
  font-size: 18px;
  font-family: var(--title);
  background-color: var(--azul-claro);
  color: var(--angelo);
  border: 2px solid var(--angelo);
  padding: 13px 23px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 7px;
  transition: 0.7s;
}
